.DS_Store
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
npm-debug.log
*.sql
*.tar.gz
*.zip
*.lock
phpcs-*
.idea
assets/
vendor/
languages/
woo-variation-swatches-pro/
woo-variation-swatches/
mix-manifest.json
package-lock.json

